  .error {
    color: #c51541;
  }

  body {
    background-color: #e9e9e9;
  }

  #siteTitle h1, #beerListTitle {
    margin-left: 20px;
    font-size: 5em;
  }

  #loginPageText {
    text-align: center;
  }
  
  #player {
    display: none;
    width:100%;
  }

  #capture {
    display: none;
    width:100%;
    font-size: 0.8em;
  }

  #closeImageCap {
    width: 100%;
    background-color: #8a021f;
    font-size: 0.8em;
  }

  #beerFormSubmit {
    width: 45%;
    height: 75px;
    background-color: #0f8047;
    color: #e0e0e0;
  }

  #takeImage, #uploadImage {
    width: 45%;
    height: 75px;
    background-color: #1e7299;
    color: #e0e0e0;
  }

  #resetForm {
    width: 45%;
    height: 75px;
    background-color: #8a021f;
    color: #e0e0e0;
  }

  #canvas {
    display: none; 
  }

  #showUsername {
      text-align: center;
      margin: 0 auto;
  }

  #userName {
    color: #1e7299;
    font-size: 2em;
    font-style: italic;
  }


  #confirmReg {
    display: none;
  }

  #logoutBtnContainer {
    align-self: center;
    text-align: right;
    margin: 0 !important;
  }

  #logout-button {
    height: 100px;
    font-size: 2em;
    
  }

  #addBeerBtnContainer {
    width: 100%;
  }

  #addBeerBtn {
    margin: 5px auto !important;
    width: 100%;
    height: 150px;
    font-size: 4em;
  }

  #logout-button a:link, #logout-button a:visited, .delete-button a:link, .delete-button a:visited {
    text-decoration: none;
    color: #ffffff;
  }

  #viewBeerRating {
    color: #e0ba4f;
  }

  .fa-beer {
    padding: 0 5px;
  }

  #viewBeerImage {
    width: 100%;
  }

  #about {
    text-align: center;
  }

  #about img {
    width: 25%;
  }

/*-----------------Beer Ratings---------------------------------------------------- */
  div.beerRating {
    width: 270px;
    display: inline-block;
  }
  
  input.rating { display: none; }
  
  label.rating {
    float: right;
    padding: 35px;
    font-size: 55px;
    color: #9c9c9c;
    transition: all .2s;
  }
  
  input.rating:checked ~ label.rating:before {
    content: '\f0fc';
    color: #e2b319;
    transition: all .25s;
  }
  
  input.rating-5:checked ~ label.rating:before {
    color: #f0e176;
    text-shadow: 0 0 20px #174350;
  }
  
  input.rating-1:checked ~ label.rating:before { color: #236975; }
  
  label.rating:hover { transform: scale(1.05); }
  
  label.rating:before {
    content: '\f0fc';
    font-family: 'Font Awesome\ 5 Free';
  }

/*-----------------Beer List---------------------------------------------------- */
#listHeading {
  background-color: #120a5f;
  color: #f3ffff;
}

#listHeadingBeer {
  margin-left: 20px;
}

#listHeadingBrewery {
  margin: 0;
}

.beerListItem {
  padding: 50px 5%;
  background-color: #cad0da;
  color: #120a5f;
  border: 3px outset #6dd1ff;
  font-size: 5em;
  list-style-type: none;
  cursor: pointer;
}

#beerListContent {
  margin: 0 auto;
  list-style-type: none;
}

#beerListContent li {
  text-decoration: none;
}

.delete-button {
  width: 100%;
  height: 60px;
  font-size: 35px;
  text-align: center;
}

/*-----------------Overlay---------------------------------------------------- */

#capImageOverlay, #insertInfo, #viewBeerInfo {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000cc;
  z-index: 1000;
}

#capImageOverlayItems, #beerInfoText {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  font-size: 50px;
  color: #094679;
  background-color: #d4d4d4;
  border: 2px solid #477fa0;
  overflow: auto;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#beerEntryForm input, #beerEntryForm textarea, #beerEntryForm button {
  width: 100%;
}

#beerRatingInput {
  width: 100%;
}

#beerEntryForm {
  /*position: absolute;*/
  /*top: 50%;
  left: 50%;*/
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  font-size: 25px;
  color: #094679;
  background-color: #d4d4d4;
  border: 2px solid #477fa0;
 /* transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
}

#closeInfoOverlay, #closeFormOverlay {
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #8a021f;
  border: 2px solid #a7a7a7;
}

.closeOverlayX {
  font-weight: bold;
  align-content: center;
  color: #e0e0e0;
}

#beerImg {
  max-height: 600px;
}